django==5.2
djangorestframework==3.17.*
djangorestframework-simplejwt==5.5.1
django-cors-headers
psycopg2-binary
python-decouple
dj-database-url
gunicorn
Pillow==11.0.0
stripe
pytest
pytest-django
pytest-mock
python-docx
matplotlib
